@page "/orders"
@using System.Globalization
@using System.IO
@using PurchaseBlazor.Pages.Components
@inject HttpClient _client
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
<h1>Suivi des commandes</h1>
<MudCard>
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudIcon Icon="@Icons.Material.Outlined.List"></MudIcon>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Liste des commandes</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Outlined.Add" OnClick="OpenAddMudDialog" Color="Color.Inherit"/>
            <MudIconButton Icon="@Icons.Material.Outlined.MoreVert" OnClick="OpenImportPage" Color="Color.Inherit"/>
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        @if (!string.IsNullOrWhiteSpace(_message))
        {
            <MessageAlert Message="@_message" Severity="@_severity" CloseAlert="CloseAlert"/>
        }
        <MudTable @ref="_mudTable" Items="@_ordersList" Dense="@_dense"
                   Striped="true" Hover="true" Breakpoint="Breakpoint.Sm"
                   @bind-SelectedItem="_selectedOrder" Loading="@_loading"
                   LoadingProgressColor="Color.Success">
            <ToolBarContent>
                <MudText Inline="true" Typo="Typo.h6">Liste des commandes</MudText>
                <MudSpacer/>
                <MudTextField @bind-Value="_searchTexte" Placeholder="Recherche..."
                               Adornment="Adornment.Start"
                               AdornmentIcon="@Icons.Material.Filled.Search"
                               IconSize="Size.Medium"
                               Class="mt-0"/>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Nom Agent</MudTh>
                @* <MudTh>Unité</MudTh> *@
                @* <MudTh>N°Ligne</MudTh> *@
                <MudTh>PR</MudTh>
                <MudTh>Description</MudTh>
                @* <MudTh>Localisation</MudTh> *@
                <MudTh>Type</MudTh>
                @* <MudTh>Date PR</MudTh> *@
                <MudTh>Date Approbation</MudTh>
                <MudTh>PO</MudTh>
                <MudTh>Age</MudTh>
                <MudTh>Status</MudTh>
                <MudTh></MudTh>
                <MudTh></MudTh>

            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.AgentName</MudTd>
                @* <MudTd>@context.UnitName</MudTd> *@
                @* <MudTd>@context.NoLigne.ToString()</MudTd> *@
                <MudTd>@context.ReqNumber.ToString()</MudTd>
                <MudTd>@context.Description</MudTd>
                @* <MudTd>@context.Localisation</MudTd> *@
                <MudTd>@context.Type</MudTd>
                @* <MudTd>@context.PrDate.ToString(CultureInfo.InvariantCulture)</MudTd> *@
                <MudTd>@context.ApprovedDate.Value.ToString(CultureInfo.CurrentCulture)</MudTd>
                <MudTd>@context.PurchaseOrder</MudTd>
                <MudTd>@CalculeAge(DateTime.Now, context.ApprovedDate.Value).ToString()</MudTd>
                <MudTd>@context.Status</MudTd>

                <MudTd>
                    <MudIconButton Class="pa-0" OnClick="() => OpenUpdateMudDialog(context)" Icon="@Icons.Material.Filled.Edit" aria-label="Modifier" Color="Color.Inherit"/>
                </MudTd>
                <MudTd>
                    <MudIconButton Class="pa-0" OnClick="() => OpenDeleteMessageBox(context)" Icon="@Icons.Material.Filled.Delete" aria-label="Supprimer" Color="Color.Inherit"/>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager/>
            </PagerContent>

        </MudTable>
    </MudCardContent>

</MudCard>
<MudDialog @ref="_addMudDialog">
    @* TODO: Formulaire ajout commande a mettre *@
    <DialogContent>
        <div style="min-width: 400px;">
            <EditForm @ref="_addForm" Model="_addOrder" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator/>
                <MudCard>
                    <MudCardContent>
                        <MudTextField Class="d-flex mb-2" @bind-Value="_addOrder.AgentName" Label="Nom agent" For="() => _addOrder.AgentName"
                                      Margin="_marginDense" Variant="Variant.Outlined"/>
                        <div class="d-flex justify-space-between py-2">
                            <MudTextField Class="mr-2" @bind-Value="_addOrder.NoLigne" Label="Nombre de ligne" For="@(() => _addOrder.NoLigne)"
                                          Margin="_marginDense" Variant="Variant.Outlined"/>

                            <MudTextField @bind-Value="_addOrder.UnitName" Label="Unité" For="() => _addOrder.UnitName"
                                          Margin="_marginDense" Class="ml-2" Variant="Variant.Outlined"/>
                        </div>
                        <MudTextField @bind-Value="_addOrder.Description" Label="Description" For="() => _addOrder.Description"
                                      Margin="_marginDense" Class="d-flex py-2" Variant="Variant.Outlined"/>
                        <div class="d-flex justify-space-between py-2">
                            <MudTextField @bind-Value="_addOrder.ReqNumber" Label="PR" For="() => _addOrder.ReqNumber"
                                          Margin="_marginDense" Class="mr-2" Variant="Variant.Outlined"/>
                            <MudTextField @bind-Value="_addOrder.Localisation" Label="Localisation" For="() => _addOrder.Localisation"
                                          Margin="_marginDense" Class="ml-2" Variant="Variant.Outlined"/>
                        </div>


                        <div class="d-flex justify-space-between py-2">
                            <MudTextField @bind-Value="_addOrder.Type" Label="Type" For="() => _addOrder.Type"
                                          Margin="_marginDense" Class="mr-2" Variant="Variant.Outlined"/>
                            <MudDatePicker @bind-Date="_addOrder.PrDate" Culture="CultureInfo.CurrentCulture"  Label="Date PR" For="() => _addOrder.PrDate"
                                          Margin="_marginDense" Class="ml-2" Variant="Variant.Outlined"/>
                        </div>

                        <div class="d-flex justify-space-between py-2">
                            <MudDatePicker @bind-Date="_addOrder.ApprovedDate" Culture="CultureInfo.CurrentCulture" Label="Date Approbation" For="() => _addOrder.ApprovedDate"
                                          Margin="_marginDense" Class="mr-2" Variant="Variant.Outlined"/>
                            <MudSelect @bind-Value="_addOrder.Status" Class="ml-2" Label="Status" For="() => _addOrder.Status" T="string" Variant="Variant.Outlined" Margin="_marginDense">
                                @foreach (var status in Status)
                                {
                                    <MudSelectItem Value="@status">@status</MudSelectItem>
                                }
                            </MudSelect>
                        </div>
                        <div class="d-flex justify-space-between py-2">
                            <MudTextField @bind-Value="_addOrder.PurchaseOrder" Label="PO" For="() => _addOrder.PurchaseOrder"
                                          Margin="_marginDense" Class="mr-2" Variant="Variant.Outlined"/>
                            <MudDatePicker Culture="CultureInfo.CurrentCulture" @bind-Date="_addOrder.DatePo"  Label="Date PO" For="() => _addOrder.DatePo"
                                          Margin="_marginDense" Class="ml-2" Variant="Variant.Outlined"/>
                        </div>

                        <MudTextField @bind-Value="_addOrder.Amount" Label="Montant" For="() => _addOrder.Amount"
                                      Margin="_marginDense" Class="d-flex py-2" Variant="Variant.Outlined"/>

                        <MudAutocomplete  @bind-Value="_selectedVendor" Label="Fournisseur" Margin="_marginDense" Variant="Variant.Outlined"
                                          For="() => _addOrder.VendorId" Class="d-flex py-2" 
                                          SearchFunc="FindVendorsAsync"/>
                        @*TODO: Enlever l'id de l'affichage*@
                        <MudHidden @bind-Value="_addOrder.VendorId"></MudHidden>
                    </MudCardContent>
                   
                   
                </MudCard>
            </EditForm>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseAddDialog" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Cancel"
                                           Color="Color.Warning">
                                    Annuler
                                </MudButton>
                                <MudButton OnClick="() => OnValidSubmit(_addForm.EditContext)" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Add"
                                           Color="Color.Success">
                                    Ajouter
                                </MudButton>
    </DialogActions>
    
</MudDialog>

@*Update order*@
<MudDialog @ref="_updateMudDialog">
    
    <DialogContent>
        <div style="min-width: 400px;">
            <EditForm @ref="_updateForm" Model="_selectedOrder" OnValidSubmit="OnValidUpdateSubmit">
                <DataAnnotationsValidator/>
                <MudCard>
                    <MudCardContent>
                        <MudTextField Class="d-flex mb-2" @bind-Value="_selectedOrder.AgentName" Label="Nom agent" For="() => _selectedOrder.AgentName"
                                      Margin="_marginDense" Variant="Variant.Outlined"/>
                        <div class="d-flex justify-space-between py-2">
                            <MudTextField Class="mr-2" @bind-Value="_selectedOrder.NoLigne" Label="Nombre de ligne" For="@(() => _selectedOrder.NoLigne)"
                                          Margin="_marginDense" Variant="Variant.Outlined"/>

                            <MudTextField @bind-Value="_selectedOrder.UnitName" Label="Unité" For="() => _selectedOrder.UnitName"
                                          Margin="_marginDense" Class="ml-2" Variant="Variant.Outlined"/>
                        </div>
                        <MudTextField @bind-Value="_selectedOrder.Description" Label="Description" For="() => _selectedOrder.Description"
                                      Margin="_marginDense" Class="d-flex py-2" Variant="Variant.Outlined"/>
                        <div class="d-flex justify-space-between py-2">
                            <MudTextField @bind-Value="_selectedOrder.ReqNumber" Label="PR" For="() => _selectedOrder.ReqNumber"
                                          Margin="_marginDense" Class="mr-2" Variant="Variant.Outlined"/>
                            <MudTextField @bind-Value="_selectedOrder.Localisation" Label="Localisation" For="() => _selectedOrder.Localisation"
                                          Margin="_marginDense" Class="ml-2" Variant="Variant.Outlined"/>
                        </div>


                        <div class="d-flex justify-space-between py-2">
                            <MudTextField @bind-Value="_selectedOrder.Type" Label="Type" For="() => _selectedOrder.Type"
                                          Margin="_marginDense" Class="mr-2" Variant="Variant.Outlined"/>
                            <MudDatePicker @bind-Date="_selectedOrder.PrDate" Culture="CultureInfo.CurrentCulture"  Label="Date PR" For="() => _selectedOrder.PrDate"
                                          Margin="_marginDense" Class="ml-2" Variant="Variant.Outlined"/>
                        </div>

                        <div class="d-flex justify-space-between py-2">
                            <MudDatePicker @bind-Date="_selectedOrder.ApprovedDate" Culture="CultureInfo.CurrentCulture" Label="Date Approbation" For="() => _selectedOrder.ApprovedDate"
                                          Margin="_marginDense" Class="mr-2" Variant="Variant.Outlined"/>
                            <MudSelect @bind-Value="_selectedOrder.Status" Class="ml-2" Label="Status" For="() => _selectedOrder.Status" T="string" Variant="Variant.Outlined" Margin="_marginDense">
                                @foreach (var status in Status)
                                {
                                    <MudSelectItem Value="@status">@status</MudSelectItem>
                                }
                            </MudSelect>
                        </div>
                        <div class="d-flex justify-space-between py-2">
                            <MudTextField @bind-Value="_selectedOrder.PurchaseOrder" Label="PO" For="() => _selectedOrder.PurchaseOrder"
                                          Margin="_marginDense" Class="mr-2" Variant="Variant.Outlined"/>
                            <MudDatePicker Culture="CultureInfo.CurrentCulture" @bind-Date="_selectedOrder.DatePo"  Label="Date PO" For="() => _selectedOrder.DatePo"
                                          Margin="_marginDense" Class="ml-2" Variant="Variant.Outlined"/>
                        </div>

                        <MudTextField @bind-Value="_selectedOrder.Amount" Label="Montant" For="() => _selectedOrder.Amount"
                                      Margin="_marginDense" Class="d-flex py-2" Variant="Variant.Outlined"/>

                        <MudAutocomplete  @bind-Value="_selectedVendor" Label="Fournisseur" Margin="_marginDense" Variant="Variant.Outlined"
                                          For="() => _selectedOrder.VendorId" Class="d-flex py-2" 
                                          SearchFunc="FindVendorsAsync"/>
                        @*TODO: Enlever l'id de l'affichage*@
                        <MudHidden @bind-Value="_selectedOrder.VendorId"></MudHidden>
                    </MudCardContent>
                   
                   
                </MudCard>
            </EditForm>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseAddDialog" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Cancel"
                                           Color="Color.Warning">
                                    Annuler
                                </MudButton>
                                <MudButton OnClick="() => OnValidUpdateSubmit(_updateForm.EditContext)" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Edit"
                                           Color="Color.Success">
                                    Modifier
                                </MudButton>
    </DialogActions>
    
</MudDialog>


<MudMessageBox @ref="_deleteMessageBox" CancelText="Annuler">
    @* TODO: Formulaire suppression commande a mettre *@
</MudMessageBox>

@code {
    
    private string _message = "";
    private Severity _severity = Severity.Info;
    private List<Order> _ordersList = new List<Order>();
    private MudTable<Order> _mudTable;
    private bool _dense = true;
    private Margin _marginDense = Margin.Dense;
    private Order _selectedOrder = null;
    private Order _addOrder;
    private bool _loading = false;
    private string _searchTexte = "";
    private Task<List<Order>> _ordersLoading;
    private Task<HttpResponseMessage> _orderLoading;

    private EditForm _addForm;
    private EditForm _updateForm;
   
    private MudDialog _addMudDialog;
    private MudDialog _updateMudDialog;
    private MudMessageBox _deleteMessageBox;
    private string _selectedVendor= "";
    private string _selectedVendorId = "";
    private string _fileName = "";
    private List<Order> _orders;


    private void OpenImportPage()
    {
        NavigationManager.NavigateTo("importorders");
    }
    
    private List<string> Status = new List<string>
    {
        "PR PENDING",
        "INQUERY SEND", "TECHNICAL CLEARANCE",
        "PO APPROVAL", "PO RELEASED",
        "WAITING PROFORMA", "DPI&AC", "COMPLETED"
    };
    
    private int CalculeAge(DateTime d2, DateTime d1) => Age(d1, d2);

    private int Age(DateTime dateDebut, DateTime dateFin)
    {
        return (dateFin - dateDebut).Days;
    }

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        try
        {
            _ordersLoading = _client.GetFromJsonAsync<List<Order>>("api/orders/Get");
            _loading = !_ordersLoading.IsCompleted;
            _ordersList = await _ordersLoading;
            if (_ordersLoading.IsCompleted)
            {
                _loading = false;
            }
        }
        catch (Exception ex)
        {
            _message = ex.Message;
            _severity = Severity.Error;
            _loading = false;
        }
    }

    private void CloseAlert()
    {
        _message = "";
    }

    //Post order
    private async Task  OnValidSubmit(EditContext context)
    {
        if (_selectedVendor.Length > 24)
        {
            _selectedVendorId = _selectedVendor.Substring(0,24);
            _addOrder.VendorId = _selectedVendorId;
            await AddNewOrder(_addOrder);
            _addMudDialog.Close();
        }
    
    }
    //Add new order
    private async Task AddNewOrder(Order order)
    {
        
        try
        {
            _orderLoading = _client.PostAsJsonAsync("api/orders/Post", order);
            _loading = !_orderLoading.IsCompleted;
            var statusMessage = await _orderLoading;
            
            if (statusMessage.IsSuccessStatusCode)
            {
                _message = "Commande ajoutée avec succés. ";
                _severity = Severity.Success;
                _ordersList.Add(order);
            }
            else
            {
                _message = $"Erreur lors de l'ajout!!!";
                _severity = _message.Contains("Erreur") ? Severity.Error : Severity.Success;
            }
            
        }
        catch (Exception ex)
        {
            _message = ex.Message;
            _severity = Severity.Error;
        }

        _loading = false;
    }

    
    //Put Order
    private async Task OnValidUpdateSubmit(EditContext context)
    {
        if (_selectedVendor.Length > 24)
        {
            _selectedVendorId = _selectedVendor.Substring(0,24);
            _selectedOrder.VendorId = _selectedVendorId;
            await UpdateSelectedOrder(_selectedOrder);
            _updateMudDialog.Close();
        }
    }
    //Update one order
    private async Task UpdateSelectedOrder(Order order)
    {
        try
        {
            _orderLoading = _client.PutAsJsonAsync($"api/Orders/Put/{order.Id}", order);
            _loading = !_orderLoading.IsCompleted;

            var statusMessage = await _orderLoading;
            _message = statusMessage.IsSuccessStatusCode ? "Commande modifiée avec succés." : "Erreur lors de la mis à jour";
            _severity = _message.Contains("Erreur") ? Severity.Error : Severity.Success;
        }
        catch (Exception ex)
        {
            _message = ex.Message;
            _severity = Severity.Error;
        }

        _loading = false;
    }

    //Delete one order
    private async Task DeleteSelectedOrder(Order order)
    {
        try
        {
            _orderLoading = _client.DeleteAsync($"api/Orders/Delete/{order.Id}");
            _loading = !_orderLoading.IsCompleted;

            var statusMessage = await _orderLoading;
            _message = statusMessage.IsSuccessStatusCode ? "Commande supprimée avec succés." : "Erreur lors de la suppression!!!";
            _severity = _message.Contains("Erreur") ? Severity.Error : Severity.Success;
        }
        catch (Exception ex)
        {
            _message = ex.Message;
            _severity = Severity.Error;
        }
        finally
        {
            _loading = false;
        }
    }

    //Open MudDialog Add Order
    private void OpenAddMudDialog()
    {
        _addOrder = new Order();
        _addMudDialog.ClassActions = "d-flex px-6 justify-space-between py-6";
        
        _addMudDialog.Show("Ajouter une commande");
        
    }
    
    
    //Close AddDialog Add Order
    private void  CloseAddDialog()
    {
        _addMudDialog.Close();
    }
    
    //Open MudDialog Update Order
    private void OpenUpdateMudDialog(Order order)
    {
        _selectedOrder = order;
        _updateMudDialog.ClassActions = "d-flex px-6 justify-space-between py-6";
        _addMudDialog.Show($"Modifier une commande PR:{_selectedOrder.ReqNumber.ToString()} ");
        
    }
   

    //Open messageBox Delete Order
    private async Task OpenDeleteMessageBox(Order order)
    {
        bool? result = await _deleteMessageBox.Show();
        
        _message = result == null ? "Suppression de la commande Annulée." : "";
        StateHasChanged();
    }

    //find vendor for Autocomplete
    private async Task<IEnumerable<string>> FindVendorsAsync(string searchVendor)
    {
        if (string.IsNullOrWhiteSpace(searchVendor))
            return Array.Empty<string>();

        var vendors = await _client.GetFromJsonAsync<IEnumerable<Vendor>>($"api/Vendors/GetByName/{searchVendor}");
        return vendors.Where(v => v.Name.Contains(searchVendor)).Select(v => new string(v.Id +" "+v.Name)).ToList();
    }


}