<MudCard class="" Elevation="2" Style="@($"height: {Height}; width: 100%; color:{TextColor}; background:{BgColor};")">
    <MudCardContent Class="align-center">
        <div class="d-flex  align-items-center">
            <div>
                <MudText Typo="Typo.h6">@($"{TotalOrderCounterCurrentYear} - {Description}")</MudText>
                    <p>@($"{TotalOrderCounter} (Totale Commandes)")</p>
            </div>
            <div class="ms-auto bg-light-transparent">
                <MudIcon Icon="@CustomContentIcon" Class="@CustomColor" Size="Size.Large" />
            </div>
        </div>
        
    </MudCardContent>
</MudCard>


@code {
    [Parameter] public decimal TotalOrderCounter { get; set; }
    [Parameter] public decimal TotalOrderCounterCurrentYear { get; set; }
   
    [Parameter] public string Description { get; set; }
    [Parameter] public string CustomContentIcon { get; set; }
    [Parameter] public string CustomColor { get; set; }
    [Parameter] public string BgColor { get; set; } = Colors.BlueGrey.Darken4;
    [Parameter] public string TextColor { get; set; } = Colors.LightGreen.Accent3;
    
    [Parameter] public string Width { get; set; }
    [Parameter] public string Height { get; set; } = "80px";

}