<MudCard class="" Elevation="2" Style="@($"height: {Height}; width: 100%; color:{TextColor}; background:{BgColor};")">
    <MudCardContent Class="align-center">
        <div class="d-flex  align-items-center">
            <div>
                <MudText Typo="Typo.h6">@($"{Amount:N0} {Currency}")</MudText>
                <p>@Description</p>
            </div>
            <div class="ms-auto bg-light-transparent">
                <MudIcon Icon="@CustomContentIcon" Class="@CustomColor" Size="Size.Large" />
            </div>
        </div>
        <div>
            <MudText Typo="Typo.body1">@($"{Counter:N0} {Currency} (Total)")</MudText>
        </div>
    </MudCardContent>
</MudCard>


@code {
    [Parameter] public decimal Counter { get; set; }
    [Parameter] public decimal Amount { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public string CustomContentIcon { get; set; }
    [Parameter] public string CustomColor { get; set; }
    [Parameter] public string BgColor { get; set; } = Colors.BlueGrey.Darken4;
    [Parameter] public string TextColor { get; set; } = Colors.LightGreen.Accent3;
    [Parameter] public string Currency { get; set; }
    [Parameter] public string Width { get; set; }
    [Parameter] public string Height { get; set; } = "130px";

}
